.container{
  margin: 0px auto;
  border: 5px solid black;
  height: 650px;
  text-align: center;
}

.header, .footer{
  padding: 50px;
  background-color: blue;
}


div.instruct{
  margin: 200px auto;
  width: 400px;
  height: 200px;
  background: dodgerblue;
  color: white;
  text-align: center;
}

.instruct p{
  padding: 35px;
  margin: 5px;
  font-size: 20px;
}

 .instruct-button{
  position: relative
  margin-bottom: 20px;
  width: 40px;
  height: 20px;
  background: white;
  color: black;
}

.newgame{
  position: absolute;
  bottom: 700;
  text-align: center;
  width: 75px;
  height: 55px;
  border-radius: 50%;
}
